# Configurações do servidor
HOST=127.0.0.1
PORT=8080
MODE=dev

# Configurações do PostgreSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=meu_usuario
POSTGRES_PASSWORD=minha_senha
POSTGRES_DB=meu_banco_de_dados